a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

input {
  padding-right: 2.5rem !important;
}

.carousel-item__img {
  border-radius: 1rem;
  object-fit: cover;
}

.genres-badge {
  cursor: pointer;
  font-size: 0.8rem !important;
}
